@page "/"

<PageTitle>Index</PageTitle>

<h1>Hallo Besucher!</h1>

Um das Zertifikat eines Benutzers zu überprüfen, gehen Sie bitte über das Menü auf "Zertifikat prüfen". <br>
Als angemeldeter Benutzer können Sie Ihre Zertifizierungen verwalten.
